/* @import url('https://fonts.googleapis.com/css?family=Candal|Candal:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese'); */
@import url('https://fonts.googleapis.com/css?family=Anton|Bad+Script|Candal|Kalam:300,400,700|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Orbitron:400,500,700,900|Shadows+Into+Light|Shadows+Into+Light+Two&display=swap&subset=cyrillic,cyrillic-ext,devanagari,latin-ext,vietnamese');
font-family: 'Shadows Into Light Two',
cursive;
*/
/* font-family: 'Anton', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Shadows Into Light', cursive; */
/* font-family: 'Kalam', cursive; */
/* font-family: 'Orbitron', sans-serif; */
/* font-family: 'Bad Script', cursive;  */

.App {
  text-align: center;
}

/* GLOBAL STYLES */
/* body {
  background: #333;
  padding-top: 5em;
  display: flex;
  justify-content: center;
} */

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #FF5252;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 35%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #FF5252
  }
}

:root {
  --color-pink: #FF5252;
  --color-white: #ffffff;
  --color-black: #000000;
  /* var(--color-); */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--color-black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-white);
  padding-left: 10px;
  padding-right: 10px;
}

.colorOne {
  color: var(--color-pink);
}

.bg-dark {
  background: black;
}

.navbar {
  padding: .5rem .5rem;
  margin-bottom: .5rem;
  position: static;
  z-index: 99999;
  width: 100%;
  /* background-color: var(--color-black); */
}

a:hover {
  color: var(--color-pink);
}


#templateHome {
  background-image: url("./img/bg3.jpeg");
}

/* Cards */


.imgMd .imgSN .imgBQ{
  /* background-image: url("./img/markdown.png"); */
  background-repeat: no-repeat;
  background-size: contain;
  position: static;
  height: 100%;
  width: 100%;
}

  /* .imgSN {
    background-image: url("./img/socialNetwork.jpg.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: static;
    max-height: 100%;
    max-width: 100%;
  }

  .imgBQ {
    background-image: url("./img/burgerqueen.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: static;
    max-height: 100%;
    max-width: 100%;
  } */

.imgMd:hover {
  opacity: .8;
}

.imgSN:hover {
  opacity: .8;
}

.imgBQ:hover {
  opacity: .8;
}

.card-body {
  background-color: transparent;
}
/* Fin Cards */


.containerProjects {
  justify-content: center;
  display: flex;
}

.imgbg {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.icon {
  width: 40px;
  height: 40px;
  margin: 5px 5px 5px 5px;
}

#linkedIn {
  border-radius: 8px
}

.centerContent {
  text-align: center;
  display: grid;
  align-items: center;
  vertical-align: baseline;
}

h1 h2 h3 h4 h5 {
  color: var(--color-white);
  font-family: 'Montserrat', sans-serif;
}

/* Inicio about me */
.pAbout {
  color: white;
  font-size: 30px;
  width: 80%;
  margin: 15px 15px 15px 15px;  
 }

.leftContent {
  text-align: right; 
  display: grid;
  align-items: left;
  vertical-align: baseline;
}

/* Fin about me */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 375px) {
  .name {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 35px;
    color: var(--color-pink);
    font-weight: 600;
    padding-left: 15px;
  }

  .navLinks {
    font-size: 16px;
    color: var(--color-white);
    padding-left: 10px;
    padding-right: 10px;
  }

  .pageTitle {
    color: var(--color-white);
    font-size: 30px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }

  h3 {
    color: var(--color-white);
    font-size: 24px;
    padding-top: 15px;
  }

  h5 {
    color: var(--color-white);
    font-size: 20px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 376px) and (max-width: 767.99px) {
  .name {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 45px;
    color: var(--color-pink);
    font-weight: 600;
    padding-left: 25px;
  }

  .navLinks {
    font-size: 18px;
    color: var(--color-white);
    padding-left: 10px;
    padding-right: 10px;
  }

  .pageTitle {
    color: var(--color-white);
    font-size: 36px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }

  h3 {
    color: var(--color-white);
    font-size: 30px;
    padding-top: 15px;
  }

  h5 {
    color: var(--color-white);
    font-size: 26px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1023.99px) {
  .name {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 50px;
    color: var(--color-pink);
    font-weight: 600;
    padding-left: 30px;
  }

  .navLinks {
    font-size: 24px;
    color: var(--color-white);
    padding-left: 10px;
    padding-right: 10px;
  }

  .pageTitle {
    color: var(--color-white);
    font-size: 34px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }

  h3 {
    font-size: 30px;
    color: var(--color-white);
  }

  h5 {
    color: var(--color-white);
    font-size: 26px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1024px) and (max-width: 1636.99px) {
  .name {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 50px;
    color: var(--color-pink);
    font-weight: 600;
    padding-left: 30px;
  }

  .navLinks {
    font-size: 24px;
    color: var(--color-white);
    padding-left: 30px;
    padding-right: 30px;

    cursor: pointer;
  }

  .pageTitle {
    color: var(--color-white);
    font-size: 55px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }

  h3 {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-white);
  }

  h5 {
    color: var(--color-white);
    font-size: 30px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1637px) {
  .name {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 60px;
    color: var(--color-pink);
    font-weight: 600;
    padding: 30px;
  }

  .navLinks {
    font-size: 22px;
    color: var(--color-white);
    padding-left: 35px;
    padding-right: 35px;
  }

  .pageTitle {
    color: var(--color-white);
    font-size: 55px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }

  h3 {
    font-size: 45px;
    color: var(--color-white);
    font-family: 'Montserrat', sans-serif;
  }

  h5 {
    color: var(--color-white);
    font-size: 30px;
  }

}