/* @import url('https://fonts.googleapis.com/css?family=Candal|Candal:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese'); */
@import url('https://fonts.googleapis.com/css?family=Anton|Bad+Script|Candal|Kalam:300,400,700|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Orbitron:400,500,700,900|Shadows+Into+Light|Shadows+Into+Light+Two&display=swap&subset=cyrillic,cyrillic-ext,devanagari,latin-ext,vietnamese');font-family: 'Shadows Into Light Two', cursive; */
/* font-family: 'Anton', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Shadows Into Light', cursive; */
/* font-family: 'Kalam', cursive; */
/* font-family: 'Orbitron', sans-serif; */
/* font-family: 'Bad Script', cursive;  */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;   
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.colorOne {
  color: #FF5252;
} 

.bg-dark {
  background: black;
}

.navbar {
  padding: 1rem 1rem
}

a:hover {
  color: #FF5252;
}

.imgbg {
  height: 100vh; 
  width: 100%;
}
#div2Home{
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
}


h1{
  color: white;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 375px) { 
  .name {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 35px;
    color: #FF5252;
    font-weight: 600;
    padding-left: 15px;
  }
  .navLinks {
    
    font-size: 16px;
    color: White;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #containerContact {
    justify-content: center;
    display: grid;
  }
  .pageTitle {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
  }
  h3{
    color: #FF5252;
    font-size: 24px;
    padding-top: 15px;
  }
  h5{
    color: white;
    font-size: 20px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 376px) and (max-width: 767.99px) { 
  .name {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 45px;
    color: #FF5252;
    font-weight: 600;
    padding-left: 25px;
  }
  .navLinks {
    font-size: 18px;
    color: White;
    padding-left: 10px;
    padding-right: 10px;
  }
  .pageTitle {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
  }
  h3{
    font-size: 30px;
    color: white;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1023.99px) { 
  .name {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 50px;
    color: #FF5252;
    font-weight: 600;
    padding-left: 30px;
  }
  .navLinks {
    font-size: 24px;
    color: White;
    padding-left: 10px;
    padding-right: 10px;
  }
  .pageTitle {
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
  }
  h3{
    font-size: 30px;
    color: white;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1024px) and (max-width: 1636.99px) { 
  .name {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 50px;
    color: #FF5252;
    font-weight: 600;
    padding-left: 30px;
  }
  .navLinks {
    font-size: 24px;
    color: White;
    padding-left: 30px;
    padding-right: 30px;
  }
  .pageTitle {
    font-size: 70px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
  }
  h3{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1637px) { 
  .name{
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 60px;
    color: #FF5252;
    font-weight: 600;
    padding-left: 30px;
  }
  .navLinks {
    font-size: 22px;
    color: White;
    padding-left: 35px;
    padding-right: 35px;
  }
  .pageTitle {
    font-size: 70px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
  }
  h3{
    font-size: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
}


