/* @import url('https://fonts.googleapis.com/css?family=Candal|Candal:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese'); */
@import url('https://fonts.googleapis.com/css?family=Anton|Bad+Script|Candal|Kalam:300,400,700|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Orbitron:400,500,700,900|Shadows+Into+Light|Shadows+Into+Light+Two&display=swap&subset=cyrillic,cyrillic-ext,devanagari,latin-ext,vietnamese');
font-family: 'Shadows Into Light Two',
cursive;
*/
/* font-family: 'Anton', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Shadows Into Light', cursive; */
/* font-family: 'Kalam', cursive; */
/* font-family: 'Orbitron', sans-serif; */
/* font-family: 'Bad Script', cursive;  */

.App {
  text-align: center;
}

.margintop {
  margin-top: 3em;
}

/* DEMO-SPECIFIC STYLES */

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 50%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #FF5252
  }
}

:root {
  --color-pink: #FF5252;
  --color-white: #ffffff;
  --color-black: #000000;
  /* var(--color-); */
}


.App-header {
  background-color: var(--color-black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-white);
  padding-left: 10px;
  padding-right: 10px;
}

.colorOne {
  color: var(--color-pink);
}

.bg-dark {
  background: black;
}

.navbar {
  padding: .5rem .5rem;
  margin-bottom: .5rem;
  position: fixed;
  z-index: 99999;
  width: 100%;
  /* background-color: var(--color-black); */
}

a:hover {
  color: var(--color-pink);
}

#templateHome {
  background-image: url("./img/bg3.jpeg");
  width: 100%;
}

/* Cards */
.imgMd .imgSN .imgBQ{
  /* background-image: url("./img/markdown.png"); */
  background-repeat: no-repeat;
  background-size: contain;
  position: static;
  height: 100%;
  width: 100%;
}

  /* .imgSN {
    background-image: url("./img/socialNetwork.jpg.png");
  } */
  
.imgBQ {
  /* background-image: url("./img/burgerqueen.png"); */
  width: 220px;
  height: 230px;
  align-self: center;
}

.imgMd:hover {
  opacity: .8;
}

.imgSN:hover {
  opacity: .8;
}

.imgBQ:hover {
  opacity: .8;
}

.card-body {
  padding: 0em 1em 0em 1em;
  background-color: transparent;
}

/* Fin Cards */


.containerProjects {
  justify-content: center;
  display: flex;
}

.imgbg {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: static;
  position: relative;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.icon {
  width: 40px;
  height: 40px;
  margin: 2em 2em 2em 2em;
}

.icon:hover {
  width: 45px;
  height: 45px;
  opacity: 2;
}

#linkedIn {
  border-radius: 8px
}

.centerContent {
  text-align: center;
  display: grid;
  align-items: center;
  vertical-align: baseline;
}

h1 h2 h3 h4 h5 {
  color: var(--color-white);
  font-family: 'Montserrat', sans-serif;
}

/* Inicio about me */
.pAbout {
  color: white;
  font-size: 30px;
  margin: 15px 15px 15px 0px;  
}

.leftContent {
  text-align: right; 
  display: grid;
  align-items: left;
  vertical-align: baseline;
}
/* Fin about me */


/* MEDIA QUERIES */
@media (max-width: 375px) {
  .name {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 35px;
    color: var(--color-pink);
    font-weight: 600;
    /* padding-left: 15px; */
  }
  .navbar {
    background-color: #000000;
  }
  .navLinks {
    font-size: 16px;
    color: var(--color-white);
    padding-left: 10px;
    padding-right: 10px;
  }
  .pageTitle {
    display: grid;
    color: var(--color-white);
    font-size: 30px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  .textAnimation {
    font-size: 18px;
  }
  .pAbout {
    color: white;
    font-size: 15px;
    margin: 15px 15px 15px 0px;  
    text-align: center;
  }
  h3 {
    color: var(--color-white);
    font-size: 24px;
    padding-top: 15px;
  }
  h5 {
    color: var(--color-white);
    font-size: 20px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 376px) and (max-width: 767.99px) {
  .name {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 45px;
    color: var(--color-pink);
    font-weight: 600;
    padding-left: 25px;
  }
  .navLinks {
    font-size: 18px;
    color: var(--color-white);
    padding-left: 10px;
    padding-right: 10px;
  }
  .pageTitle {
    color: var(--color-white);
    font-size: 36px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
  }
  .textHome {
    font-size: 10px;
  }
  h3 {
    color: var(--color-white);
    font-size: 30px;
    padding-top: 15px;
  }
  h5 {
    color: var(--color-white);
    font-size: 26px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1023.99px) {
  .name {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 50px;
    color: var(--color-pink);
    font-weight: 600;
    padding-left: 30px;
  }
  .navLinks {
    font-size: 24px;
    color: var(--color-white);
    padding-left: 10px;
    padding-right: 10px;
  }
  .pageTitle {
    display: grid;
    color: var(--color-white);
    font-size: 34px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
  }
  h3 {
    font-size: 30px;
    color: var(--color-white);
  }
  h5 {
    color: var(--color-white);
    font-size: 26px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1024px) and (max-width: 1636.99px) {
  .name {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 50px;
    color: var(--color-pink);
    font-weight: 600;
    padding-left: 30px;
  }

  .navLinks {
    font-size: 24px;
    color: var(--color-white);
    padding-left: 2.5em;
    padding-right: 2.5em;

    cursor: pointer;
  }

  .pageTitle {
    color: var(--color-white);
    font-size: 55px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
  }

  h3 {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-white);
  }

  h5 {
    color: var(--color-white);
    font-size: 30px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1637px) {
  .name {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 60px;
    color: var(--color-pink);
    font-weight: 600;
    padding: 30px;
  }

  .navLinks {
    font-size: 22px;
    color: var(--color-white);
    padding-left: 4em;
    padding-right: 4em;
  }

  .pageTitle {
    color: var(--color-white);
    font-size: 55px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
  }

  h3 {
    font-size: 45px;
    color: var(--color-white);
    font-family: 'Montserrat', sans-serif;
  }

  h5 {
    color: var(--color-white);
    font-size: 30px;
  }

}