/* @import url('https://fonts.googleapis.com/css?family=Candal|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese'); */
@import url('https://fonts.googleapis.com/css?family=Anton|Bad+Script|Candal|Kalam:300,400,700|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Orbitron:400,500,700,900|Shadows+Into+Light|Shadows+Into+Light+Two&display=swap&subset=cyrillic,cyrillic-ext,devanagari,latin-ext,vietnamese');

body {
  background: black;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


